/* Navbar Styles */
body{
  overflow-X: hidden ;
}
.logo-img {
  max-width: 150px;
}
header .navbar{
  display: inline !important;
}
.navbar-nav .nav-item .nav-link {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: bold;
}

  .nav-item {
  display: flex;
  align-items: center;
}
.btn {
  text-align: center;
}

/* Banner Styles */

.banner-head {
  text-align: center;
}

.banner-head h2 {
  font-size: 2rem;
}

.banner-head p {
  font-size: 1rem;
}

.img-fluid {
  height: auto;
}

.position-relative {
  position: relative;
  padding: 80px 0;
}

.img2-banner {
  position: absolute;
  top: 130px;
  right: -35px;
}

/* Responsive Media Styles */

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  
  .banner-head h2 {
    font-size: 1.75rem;
  }

  .banner-head p {
    font-size: 0.9rem;
  }

  
}

/* Mobiles */
@media (max-width: 768px) {
  .head-ul{
    height: 100vh;
    background-color: #F6F5F4;
  }
  .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .navbar-nav .nav-item .nav-link {
    font-size: 1.3rem;
    padding: 0.3rem 0.6rem;
  }

  .banner-head h2 {
    font-size: 1.5rem;
  }

  .banner-head p {
    font-size: 0.9rem;
    padding: 0 1rem;
  }
  

  /* Banner Media Styles */
  .banner-head h2 {
    font-size: 1.5rem;
  }

  .banner-head p {
    font-size: 0.8rem;
  }

  .img2-banner {
    top: 80px;
    left: 310px;
  }

  .position-relative {
    padding: 50px 0;
  }

  .col-md-7 {
    width: 100%;
  }
}

@media (min-width: 767px) {
  .img2-banner {
    top: 80px;
    left: 310px;
  }
}
